<form action="" class="bg-indigo-900 rounded p-2 flex flex-col justify-between mb-2">
    <p class="text-indigo-100 text-center mb-2" id="postid">Add a comment!</p>
    <input type="text" class="rounded mb-2 w-48 mx-auto">
    <button id="comment-button" class="w-44 h-70 mb-4 bg-indigo-300 hover:bg-indigo-700 font-bold py-1 px-3 mx-auto rounded">Post comment</button>
</form>
