<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
    <!-- font-awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <title>PS Blog</title>
  </head>
  <body>
    <!-- Mobile nav  -->
    <nav id="open-nav" class="lg:hidden items-center justify-between bg-black py-4 px-6 w-screen opacity-90">
      <div class="flex flex-row items-center justify-between py-4">
        <div>
          <h4 class="text-indigo-100 text-center text-5xl">PSB</h4>
          <h4 class="text-indigo-100 text-center">PS Blog</h4>
        </div>
        <div id="hamburger" class="flex flex-col justify-center items-center">
          <span class="bg-indigo-100 h-1.5 w-12 mb-2 rounded-full"></span>
          <span class="bg-indigo-100 h-1.5 w-12 mb-2 rounded-full"></span>
          <span class="bg-indigo-100 h-1.5 w-12 rounded-full"></span>
        </div>
      </div>
      <!-- buttons -->
      <div id="nav-content" class="hidden">
        <div class="flex flex-col mb-2 mt-6 justify-center items-center">
          <button class="w-40 h-20 mb-2 bg-indigo-100 hover:bg-indigo-700 font-bold py-2 px-4 rounded"><h2 class="text-gray-900"><i class="fas fa-home"></i> Home</h2></button>
          <button class="w-40 h-20 mb-2 bg-indigo-100 hover:bg-indigo-700 font-bold py-2 px-4 rounded"><h2 class="text-gray-900"><i class="fas fa-home"></i> Dashboard</h2></button>
          {{#if loggedIn}}
            <button class="w-40 h-20 mb-2 bg-indigo-100 hover:bg-indigo-700 font-bold py-2 px-4 rounded"><h2 class="text-gray-900"><i class="fas fa-home"></i> Logout</h2></button>
          {{else}}
            <a href="/login" id="login-btn" class="w-40 h-20 mb-2 bg-indigo-100 hover:bg-indigo-700 font-bold py-2 px-4 rounded"><h2 class="text-gray-900"><i class="fas fa-home"></i> Login</h2></a>
          {{/if}}
        </div>
      </div>
    </nav>
    <div id="global" class="flex flex-row">
      <!-- Desktop nav -->
      <nav id="sidenav" class="hidden lg:block flex flex-col items-center justify-between bg-black py-4 px-6 w-300 h-screen opacity-90 flex-grow fixed">
        <!-- LOGO -->
        <div>
          <h4 class="text-indigo-100 text-center text-5xl">PSB</h4>
          <h4 class="text-indigo-100 text-center">PS Blog</h4>
        </div>
        <!-- links -->
        <div class="flex flex-col justify-center py-4">
          <h2 id="home" class="text-indigo-100 hover:text-indigo-100"><i class="fas fa-home"></i> Home</h2>
          <h2 id="home" class="text-indigo-100 hover:text-indigo-100"><i class="fas fa-home"></i> Dashboard</h2>

          <a href="/login" id="home" class="text-indigo-100 hover:text-indigo-100"><i class="fas fa-home"></i> Login</a>
        </div>
      </nav>
      <main class="my-auto mx-auto s-p-6 p-8 w-screen lg:pl-64 max-w-screen-2xl">
        {{{ body }}}
      </main>
    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>
