<div id="description" class="bg-black opacity-90 rounded p-4 flex flex-col items-center">
    <h1 class="text-indigo-100 text-3xl font-bold pb-2 text-center">My Posts</h1>
    <div class="bg-indigo-900 rounded p-2 flex flex-row justify-between mb-2">
        <p class="text-indigo-100 pr-24" id="postid">Lorem ipsum</p>
        <p class="text-indigo-100">Date </p>
    </div>
    <div class="bg-indigo-900 rounded p-2 flex flex-row justify-between mb-2">
        <p class="text-indigo-100 pr-24" id="postid">Lorem ipsum</p>
        <p class="text-indigo-100">Date </p>
    </div>
    <div class="bg-indigo-900 rounded p-2 flex flex-row justify-between mb-2">
        <p class="text-indigo-100 pr-24" id="postid">Lorem ipsum</p>
        <p class="text-indigo-100">Date </p>
    </div>
    <button class="bg-indigo-500 hover:bg-indigo-100 hover:text-indigo-500 text-indigo-100 rounded p-2 self-center">New Post</button>
</div>
