<div id="description" class="bg-black opacity-90 rounded p-4">
    <h1 class="text-indigo-100 text-3xl font-bold pb-2 text-center">All Posts</h1>
    <div class="bg-indigo-100 rounded mb-4">
        <div class="bg-indigo-900 rounded-t p-2 flex flex-row justify-between mb-2">
            <p class="text-indigo-100" id="postid">Lorem ipsum dolor sit</p>
            <p class="text-indigo-100">Date </p>
        </div>
        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea esse non cupiditate sequi eos libero dolorem vitae aperiam, nam mollitia modi dicta. Ad nam hic quibusdam magnam voluptas, quidem molestiae!</p>
    </div>
    <div class="bg-indigo-100 rounded mb-4">
        <div class="bg-indigo-900 rounded-t p-2 flex flex-row justify-between mb-2">
            <p class="text-indigo-100" id="postid">Lorem ipsum dolor sit</p>
            <p class="text-indigo-100">Date </p>
        </div>
        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea esse non cupiditate sequi eos libero dolorem vitae aperiam, nam mollitia modi dicta. Ad nam hic quibusdam magnam voluptas, quidem molestiae!</p>
    </div>
    <div class="bg-indigo-100 rounded mb-4">
        <div class="bg-indigo-900 rounded-t p-2 flex flex-row justify-between mb-2">
            <p class="text-indigo-100" id="postid">Lorem ipsum dolor sit</p>
            <p class="text-indigo-100">Date </p>
        </div>
        <p class="p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea esse non cupiditate sequi eos libero dolorem vitae aperiam, nam mollitia modi dicta. Ad nam hic quibusdam magnam voluptas, quidem molestiae!</p>
    </div>
</div>