<div id="description" class="bg-black opacity-90 rounded p-8">
    <h1 class="text-indigo-100 text-3xl font-bold pb-2">Welcome to PS Blog!</h1>
    <p class="text-indigo-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vero eius sunt aliquid laudantium doloribus ipsam est iure. Quaerat quidem eveniet cum non accusantium ratione provident error incidunt minus numquam?
    Nesciunt quaerat, voluptatibus consectetur amet deleniti labore natus quia. Placeat et saepe amet? Aliquam ad rem nam, accusantium non, adipisci fugiat sequi id, minima quod obcaecati? Temporibus totam cumque cupiditate.
    Nemo reprehenderit similique deserunt vitae facere officia tenetur, cum mollitia obcaecati dolorem autem eaque quas modi, maiores dolores ad, rerum repudiandae officiis itaque ex repellat? Accusamus recusandae dolorem culpa reprehenderit.</p>
    {{#each posts as |post|}}
    <div class="bg-indigo-100 rounded mb-4 mt-12">
        <div class="bg-indigo-900 rounded-t p-2 flex flex-row justify-between mb-2">
            <p class="text-indigo-100" id="postid">{{post.title}}</p>
            <p class="text-indigo-100">{{post.user.username}} </p>
            <p class="text-indigo-100">{{post.createdAt}} </p>
        </div>
        <p class="p-2">{{post.content}}</p>
    </div>
    {{/each}}
</div>

