body {
  background-image: url(../images/jase-bloor-oCZHIa1D4EU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}
/* Login */
.login-container {
  min-height: 300px;
}
/* Modals */
.modal {
  background-color: black; 
  display: none;
  max-width: 280px;
}

.modal-content {
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  color: white;
}

.close-button {
  float: right;
  font-size: 28px;
  cursor: pointer;
  margin-left: 0.25rem;
}